#root {
  color: #ffffff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment: fixed;
}

h1 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: #838383;
}

.header,
.footer {
  height: 50px;
  padding: 10px 20px;
  /* background-color: #bae6fd; */
  display: flex;
  align-items: center;
  font-weight: 600;
}

.header {
  justify-content: space-between;
  border-bottom: 1px #fff solid;
  position: relative;
}
.footer {
  justify-content: center;
  border-top: 1px #fff solid;
}

.header-ul,
.footer-ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  gap: 5px;
}

.header-ul {
  justify-content: center;
}

.footer-ul {
  width: 100%;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fffefe;
}

a:visited {
  color: #ffffff;
}

.navlink {
  padding: 2px 6px;
  border-radius: 3px;
  transition: all ease-in;
  transition-duration: 200ms;
  cursor: pointer;
}

.page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-title {
  position: absolute;
  top: -60px;
  right: 0px;
}

.logo {
  width: 300px;
  height: 40px;
  background-image: url('./assets/pics/Star_Wars_Yellow_One_Line_Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 5px);
}

.active {
  background-color: #646464;
}

.navlink:hover {
  color: #FFC500;
  font-weight: 600;
}

@media (max-width: 710px) {

  .logo {
    width: 200px;
  }
}

@media (max-width: 610px) {

  .logo {
    width: 100px;
  }
}


