.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 100px);
}
