.search-bar {
  display: flex;
  gap: 10px;
  position: relative;
}

.search-input {
  outline: none;
  width: 380px;
  border-radius: 50px;
  border: 1px solid #646464;
  height: 30px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: transparent;
  color: #ffe81f;
}

.magnifier {
  position: absolute;
  top: 3px;
  left: 10px;
  background-image: url('../../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

@media (max-width: 500px) {
  .search-input {
    width: 270px;
  }
  
}
