.search-bar {
  display: flex;
  gap: 10px;
}

.search-input {
  outline: none;
}

.search-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all ease-in;
  transition-duration: 200ms;
}

.search-button:hover {
  background-color: #d68484;
}